.feed {
	padding-bottom: 71px;
	&__item {
			display: flex;
			margin-top: 100px;
			&:nth-child(2){
					margin-top: 70px;
			}
	}
	&__img {
			width: 169px;
			height: 169px;
	}
	&__text {
			margin-left: 62px;
			padding-right: 60px;
	}
	&__subtitle {
			color: #0d0d0d;
			font-size: clamp(0.875rem, 0.755rem + 0.49vw, 1.125rem);
			font-weight: 700;
	}
	&__count {
			color: #646464;
			font-size: clamp(0.75rem, 0.69rem + 0.25vw, 0.875rem);
			font-weight: 500;
	}
	&__descr {
			color: #0d0d0d;
			font-size: clamp(0.75rem, 0.63rem + 0.49vw, 1rem);
			font-weight: 300;
			margin-top: 10px;
	}
}

@media (max-width: 1100px) {
	.feed {
		&__item {
			margin-top: 70px;
			&:nth-child(2){
					margin-top: 50px;
			}
	}
	}
}

@media (max-width: 1100px) {
	.feed {
	&__item {
	flex-direction: column;
	padding: 0 20px;
	text-align: center;
	}

	&__text {
		margin-top: 20px;
		margin-left: 0;
		padding: 0;
	}

	&__img {
	margin: 0 auto;
	}
	}
}